Info.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="infoAutor">
        <xs:sequence>
            <xs:element name="ciudad" maxOccurs="1" />
            <xs:element name="pais" maxOccurs="1" />
            <xs:element name="telefono" maxOccurs="unbounded" />
            <xs:element name="correo" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

</xs:schema>